// Brand colors

$c_Brand: #009FF4;
$c_BrandAlt: #f47600;

// Border colors

$border-color: #c8c8c8;
$border-faint-color: lighten($border-color, 10%);
$border-strong-color: darken($border-color, 15%);

// Text colors

$c_Text: #282828;
$c_TextMuted: lighten($c_Text, 20%);
$c_TextBrand: darken($c_Brand, 10%);