section.main-section
{
    @include layout-full
    {
        width: 900px;
        margin: 0 auto;
    }

    &:not(:last-of-type)
    {
        padding-bottom: 1.5em;
        margin-bottom: 3em;
    }

    &:nth-of-type(2n)
    {
        h2, .section-desc { color: $c_Brand; }
        h2 .i-container { background-color: $c_Brand; }
        hr.section-sep { border-bottom: 2px solid mix($c_Brand, white, 25%); }
    }

    &:nth-of-type(2n + 1)
    {
        h2, .section-desc { color: $c_BrandAlt; }
        h2 .i-container { background-color: $c_BrandAlt; }
        hr.section-sep { border-bottom: 2px solid mix($c_BrandAlt, white, 25%); }
    }

    // Main section header

    hr.section-sep
    {
        height: 0;
        border: none;

        z-index: -1;
        position: relative;
        top: 25px;

        @include layout(stretch)
        {
            margin: 0 1em;
        }
    }

    h2
    {
        width: 300px;
        margin: 0 auto;
        padding: 0 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: white;

        .i-container
        {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            width: 50px; height: 50px;

            margin-right: 0.75em;

            i
            {
                color: white;
            }
        }
    }

    p.section-desc
    {
        margin-top: 1em;
        text-align: center;
    }
}

section.main-section.main-section--price
{
    .price-block
    {
        margin: 3em auto;
        width: 600px;

        display: flex;
        align-items: center;

        @include layout(stretch)
        {
            width: auto;
            flex-direction: column;
        }

        .info
        {
            flex: 1;
            display: flex;
            flex-wrap: wrap;

            @include layout(stretch)
            {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-bottom: 20px;
            }

            .info-icon
            {
                width: 75px;

                font-size: 55px;
                color: $c_TextMuted;
                text-align: center;

                margin-right: 15px;

                @include layout(stretch)
                {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }

            .info-container
            {
                display: flex;
                flex-direction: column;

                @include layout(stretch)
                {
                    align-items: center;
                }

                .info-title
                {
                    font-size: 125%;
                    margin-bottom: 5px;
                }
    
                .info-bar
                {
                    color: #6b6b6b;
                    
                    i { margin-right: 5px; }
                }
            }
        }

        .price
        {
            font-size: 150%;
        }
    }

    .price-block.group
    {
        margin-top: 5em;
        margin-bottom: 2.5em;
        width: 280px;

        .info
        {
            @include layout(stretch)
            {
                margin-bottom: 0;
            }
        }
    }

    .group-prices
    {
        margin: 0 auto;
        width: 780px;
        display: flex;

        @include layout(stretch)
        {
            width: auto;
            flex-direction: column;
        }

        .group-price
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include layout(stretch)
            {
                &:not(:first-of-type)
                {
                    margin-top: 20px;
                }
            }

            div:nth-of-type(1)
            {
                color: #6b6b6b;
            }

            div:nth-of-type(2)
            {
                font-size: 120%;
            }
        }
    }
}

section.main-section.main-section--location
{
    .map-responsive
    {
        margin-top: 2em;
        margin-bottom: 100px;

        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;

        iframe
        {
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;

            @include layout(stretch)
            {
                padding: 1em;
            }
        }
    }
}

section.main-section.main-section--reviews
{
    .reviews-container
    {
        margin-top: 3em;

        display: flex;
        align-items: center;

        @include layout(stretch)
        {
            padding: 1em;
            overflow: hidden;
        }

        .slick-list { flex: 1; }

        .slick-prev,
        .slick-next
        {
            outline: none;

            width: 65px;
            height: 65px;

            border: none;
            border-radius: 50%;

            background: transparent;
            color: $c_TextMuted;

            transition: color .2s, background-color .2s;

            @include layout(stretch)
            {
                display: none !important;
            }

            &:hover
            {
                cursor: pointer;
                color: $c_Text;
                background: rgb(241, 241, 241);
            }

            i { font-size: 27px; }
        }

        .slick-prev { margin-right: 20px; }
        .slick-next { margin-left: 20px; }

        .slick-dots
        {
            bottom: -50px;
        }

        //

        .review
        {
            .review-name
            {
                font-size: 120%;
                margin-bottom: 10px;
            }

            .review-content { color: $c_TextMuted; }
        }
    }
}